<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Elastic Search Bulk Index</title>
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
<link href="/assets/css/enterCustomerId-styles.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet" />
<style>
#enterCustomerId-main-content {
	height: 200px !important;
}
</style>
</head>
<body>

	<section class="container">
		<article id="enterCustomerId-main-content">
			<h4>Bulk Insert and Index</h4>
			<hr />
			<h5>Populates cluster with randomly created data</h5>
			<br />

			<form method="post">
				<input placeholder="How Many Address to Generate?"
					name="numberOfentries" style="margin: 10px auto; width: 40%;" /> <input
					class="btn btn-md btn-warning" type="submit"
					value="Generate" />
			</form>
		</article>
	</section>

</body>
</html>