<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Search Page</title>
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<script src="/assets/js/script.js"></script>
</head>
<body>

<div class="container">
	<a href="../" class="btn btn-md btn-danger">Go Home</a>
</div>

<div class="container">
        <h3>Search address directory</h3>
        <h4>jQuery + Ajax</h4>
		<section>
			<article>
					<div id="the-basics">
		  				<input class="typeahead" id="product" type="text" placeholder="Enter any parameter"/>
					</div>
					
			</article>
		</section>
		
		<div class="container">
 <br/>
          
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Building Number</th>
        <th>Street</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
  </table>
</div>
		
		</div>
</body>
</html>

<script>

</script>