<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Address Report</title>

	 <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
<link href="assets/css/addressReport-styles.css" rel="stylesheet"/> 
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

<style>
table tr{
	border: 1px solid gray;
}
</style>

</head>
<body>
<div class="container">
	<a href="/" class="btn btn-md btn-danger">Go Home</a>
</div>
<div class="container">
<h3>Query Results</h3>
	<table>
		<tr>
			<th>Customer ID</th>
			<th>House Number</th>
			<th>Roadway</th>
			<th></th>
			<th>City</th>
			<th>State</th>
			<th>Country</th>
		</tr>
       <tr th:each="address : ${address}">
        <td th:text="${address.id}"></td>
        <td th:text="${address.BuildingNum}"></td>
        <td th:text="${address.RoadwayName}"></td>
        <td th:text="${address.RoadwayType}"></td>
        <td th:text="${address.City}"></td>
        <td th:text="${address.State}"></td>
        <td th:text="${address.Country}"></td>
    </tr>

	</table>
	
</div>
</body>
</html>