<!DOCTYPE html>
<html>
<head>
<title>Insert new Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/autoGenerate-styles.css" rel="stylesheet"/> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
</head>
<body>
<section class="container">
		<article id="autoGenerate-main-content">

			<h4>Auto Generate Random Customers</h4>
			<hr />
			<h5>Enter how many new customers you would like</h5>
			<br />

			<form method="post">
				<input placeholder="Enter a Number" name ="numberOfNewEntries" style="margin: 10px auto; width: 40%;" /> 
				<input class="btn btn-md btn-warning" type="submit" value="Enter" />
			</form>

		</article>
	</section>
</body>
</html>