<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/enterCustomerState-styles.css" rel="stylesheet"/> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>

<title>Look up by State</title>
</head>
<body>
<div class="container">
	<a href="/" class="btn btn-md btn-danger">Go Home</a>
</div>
	<section class="container">
		<article id="enterCustomerState-main-content">

			<h4>Find Customers By State</h4>
			<hr />
			<h5>Enter any valid State (abbreviations only, i.e. USA)</h5>
			<br />

			<form method="post">
				<input placeholder="Customer State" name ="customerState" style="margin: 10px auto; width: 40%;" /> 
					<input class="btn btn-md btn-warning" type="submit" value="Search" />
			</form>

		</article>
	</section>
</body>
</html>