<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Look up by id</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	 <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/enterCustomerId-styles.css" rel="stylesheet"/> 
    
    <style>
      body { padding-top: 60px; }
    </style>
    
</head>
<body>

	<section class="container">
		<article id="enterCustomerId-main-content">

			<h4>Find Customer By Id Number</h4>
			<hr />
			<h5>Enter id number between 1001 - 9999</h5>
			<br />

			<form method="post">
				<input placeholder="Customer Id" name ="customerId" style="margin: 10px auto; width: 40%;" /> 
					<input class="btn btn-md btn-warning" type="submit" value="Search" />
			</form>

		</article>
	</section>

</body>
</html>

<!--  -->
