<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Customer Lookup Application</title>

	<link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/index-styles.css" rel="stylesheet"/> 
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
</head>
<body>
	<h2>Index page</h2>

	<section class="container">
		<article id="index-main-content">
			<h3>Select how to search customers by</h3>
			<hr/>
			<a href="enterCustomerId.html" class="btn btn-md btn-warning">Search By Id</a>
			<a href="enterCustomerCity.html" class="btn btn-md btn-warning">Search By City</a>
			<a href="enterCustomerState.html" class="btn btn-md btn-warning">Search By State</a>
			<a href="enterCustomerCountry.html" class="btn btn-md btn-warning">Search By Country</a>
			
			<h3>Other Options</h3>
			<hr/>
			<a href="insertNewCustomer.html" class="btn btn-md btn-warning">Insert Customer</a>
			<a href="" class="btn btn-md btn-warning">Auto Populate Table with 100k Customers</a>
			<a href="" class="btn btn-md btn-warning">View List of All Customers</a>
		</article>
	</section>
	 
</body>
</html>