<!DOCTYPE html>
<html>
<head>
<title>Insert new Customer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/insertNewCustomer-styles.css" rel="stylesheet"/> 
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
</head>
<body>
	<section class="container">
		<article id="insertNewCustomer-main-content">

			<h4>Insert New Customer to Database</h4>
			<hr />
			<h5>Enter all fields, use abbreviations for State and Country</h5>
			<br />

			<form method="post">
				<input placeholder="Building Number" name ="bn" style="margin: 10px auto; width: 40%;" /> 
				<input placeholder="City" name ="ci" style="margin: 10px auto; width: 40%;" />
				<input placeholder="Country" name ="co" style="margin: 10px auto; width: 40%;" />
				<input placeholder="Roadway Name" name ="rwn" style="margin: 10px auto; width: 40%;" />
				<input placeholder="Roadway Type" name ="rwt" style="margin: 10px auto; width: 40%;" />
				<input placeholder="State" name ="s" style="margin: 10px auto; width: 40%;" />
				<input placeholder="Unit" name ="u" style="margin: 10px auto; width: 40%;" />
				
				<input class="btn btn-md btn-warning" type="submit" value="Search" />
			</form>

		</article>
	</section>
</body>
</html>