@charset "ISO-8859-1";

body{
	font-family:'Roboto', sans-serif;
}

table{
	width:90%;
	margin:0 auto;
	overflow-y:scroll;
	border:10px solid #bde7e9;
	background-color: #58d2d1;
	text-align: center;
	box-shadow:3px 3px 15px gray;
}
table tr{
	height:50px;
}